hr {
  border: 0;
  border-top: 1px solid silver;
}

label.login {
    width: 70px !important;
    text-align: left;
}

div.ui.auth, div.ui.top.attached.menu {
    margin-top: 40px;
}

.ui.main.container {
    width: 100%;
}

.hide {
    display: none !important;
}

div.title.item {
    position: inherit !important;
}

html, body { 
	margin: 0;
	padding: 0;
}

.ni {
  background-color: #ffcc33;
	min-height: calc(100vh - 34px);
}

.ui.fixed.main.menu {
	position: fixed;
	border-bottom: 2px solid #2a292b;
}

.login {
  color: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

.followedUsers, .followingUsers {
  list-style-type: none;
}
