hr {
  border: 0;
  border-top: 1px solid silver;
}

label.login {
    width: 70px !important;
    text-align: left;
}

div.ui.auth, div.ui.top.attached.menu {
    margin-top: 40px;
}

.ui.main.container {
    width: 100%;
}

.hide {
    display: none !important;
}

div.title.item {
    position: inherit !important;
}

html, body { 
	margin: 0;
	padding: 0;
}

.ni {
	min-height: calc(100vh - 34px);
	background-color: #ffcc33;
}

.ui.fixed.main.menu {
	position: fixed;
	border-bottom: 2px solid #2a292b;
}

#bookFollow button {
	margin: 7px;
}

h2 {
	margin: auto !important;
}