<div ng-controller="MenuCtrl" class="ui fixed inverted main menu">
          <div class="ui main container">
                <a ng-href="#/" class="title item">NovelIdeas</a>
          </div>
</div>

<div class="ui one column center aligned page stackable grid auth">
   <div class="column six wide">
        <h4 class="ui block top attached header">Login</h4>
        <div class="ui form bottom attached fluid segment compact">
            <div class="ui negative message hide" show-if="{{ vm.isError }}">
                <div class="header">Authentication failed</div>
                <p>Invalid username or password.</p>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="Email" ng-model="vm.user.useremail" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" ng-model="vm.user.password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <a class="ui button large primary" ng-click="vm.enter()">Enter</a>
            </div>
        </div>
   </div>
</div>