<div class="ni">
<div class="ui fixed main menu" ng-controller="MenuCtrl">
    <div class="ui main container">
        <a ng-href="#/signup" class="title item"><img src="./media/logo.png"></a>
        <div class="right menu">
            <div class="ui simple dropdown item">
                <i class="user icon"></i>Username
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" ng-href="#/login">
                        <i class="user icon"></i> Login
                    </a>
                    <a class="item" ng-href="#/pagination">
                        <i class="table icon"></i> Pagination
                    </a>
                    <a class="item" ng-href="#/tabs">
                        <i class="ellipsis horizontal icon"></i> Tab
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui centered page stackable grid" style="margin-top:4%; margin-bottom:0.1%;">
    <div class="row">
        <h2 style="font-size:80px;">NOVEL IDEAS</h2>
        <br><br><br>
        <div class="twelve wide column">
            <h3 style="font-size:30px;"> Here are your search results...</h3> 
        </div>
        <br><br><br>
          <div class="twelve wide column book-results">
            <h4 style="font-size:20px;"> Books </h4>
        </div>  
        <br><br><br>
        <div class="twelve wide column user-results">
            <h4 style="font-size:20px;"> Users </h4>
        </div>       
    </div>
</div>
</div>