<div  class="ni">
<div class="ui fixed main menu" ng-controller="MenuCtrl">
    <div class="ui main container">
        <a ng-href="#/signup" class="title item"><img src="./media/logo.png"></a>
        <div class="right menu">
            <div class="ui simple dropdown item">
                <i class="user icon"></i>Username
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" ng-href="#/login">
                        <i class="user icon"></i> Login
                    </a>
                    <a class="item" ng-href="#/pagination">
                        <i class="table icon"></i> Pagination
                    </a>
                    <a class="item" ng-href="#/tabs">
                        <i class="ellipsis horizontal icon"></i> Tab
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="userbody ui page stackable grid">
  <h1>Users</h1>
  <div class="ui grid stackable">
    <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <div class="header">Username</div>
          </div>
          <div class="content">
            <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="extra content center aligned">
            <button class="ui button"> View User </button>
          </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <div class="header">Username</div>
          </div>
          <div class="content">
            <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="extra content center aligned">
            <button class="ui button center aligned"> View User </button>
          </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <div class="header">Username</div>
          </div>
          <div class="content">
            <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="extra content center aligned">
            <button class="ui button"> View User </button>
          </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <div class="header">Username</div>
          </div>
          <div class="content">
            <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="extra content center aligned">
            <button class="ui button"> View User </button>
          </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <div class="header">Username</div>
          </div>
          <div class="content">
            <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="extra content center aligned">
            <button class="ui button"> View User </button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>